<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
    <div class="greeting">
      <%= "こんにちは、" %>
      <%= link_to "#{current_user.name}さん", root_path, class: :greeting__link%>
      </div>
    <% end %>
    <div class="card__wrapper">
      <%# @blogs.each do |blog| %>
        <%= render partial: "blog" %>
        <%#= render partial: "blog", locals: { blog: blog } %>
      <%#<% end %>
    </div>
  </div>
</main>
