@import "trix";
@import "actiontext";

@import "bootstrap";
/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

// body {
//   font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
//   color: #3b4043;
// }

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.logo {
  width: 50%; /* 幅を50%に設定 */
  height: auto; /* アスペクト比を維持 */
}

.header {
  margin-bottom: 48px;
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  color: #fff;
  font-size: 30px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
  width: 500px;
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.form__btn__line{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #00B900;
  border: 1px #00B900 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn__line:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* メイン */
.main {
  height: 100vh;
}

.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 100px);
}

.card-effect {
  box-shadow: var(--box-shadow);
  background-color: #fff;
  padding: 25px;
  transition: all 0.35s ease;
}

.card-effect:hover {
  box-shadow: black;
  transform: translateY(10px);
}

.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}
.card__img {
  margin-bottom: 16px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

/* 詳細ページ */
.prototype__wrapper{
  min-height: calc(100vh - 161px);
}
.prototype__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.prototype__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.prototype__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.prototype__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.prototype__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.prototype__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.prototype__btn:hover{
  color: #fff;
  background: #999;
}

.prototype__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* フッター */

.footer {
  height: 70px;
  background-color: black;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 15px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}

// Gears/new


/* border-bottom: 1px solid #eee; */


.gears-sell-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.gears-sell-header {
  padding: 5vh 0;
  text-align: center;
}

.gears-sell-main {
  background-color: #FFF;
  padding: 10vh 15vw;
}

.gears-sell-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* 共通 */
.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}

.question {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #0099e8;
  color: #FFF;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  margin-left: 5px;
}

.question-text {
  display: flex;
}

/* /共通 */

/* 商品画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

/* /商品画像 */

/* 商品名と商品説明 */
.new-gears {
  padding: 2vh 0;
}

.gears-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.gears-explain {
  margin-top: 2vh;
}

/* /商品名と商品説明 */

/* 商品の詳細など */
.gears-detail {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.gears-detail>.form {
  width: 300px;
  padding: 2vh 0;
}

.select-box {
  margin: 2vh 0;
}

/* /商品の詳細など */

/* 販売価格 */
.sell-price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price-content {
  width: 300px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-text {
  /* min-width: 170px; */
  display: flex;
  align-items: center;
}

.sell-yen {
  font-size: 18px;
}

.price-input {
  height: 30px;
  text-align: right;
  padding-right: 10px;
}

/* /販売価格 */

/* 注意書き */
.caution {
  padding: 5vh 0;
}

.sentence>a {
  color: #0099e8;
  text-decoration: none;
}

/* /注意書き */

/* 下部ボタン */
.sell-btn-contents {
  width: 100%;
  text-align: center;
}

.sell-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}

/* /下部ボタン */

.gears-sell-footer {
  background-color: #f5f5f5;
  width: 100vw;
  padding: 3ch 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.gears-sell-footer>.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3vh 0;
}

.menu>li>a {
  color: black;
  font-size: 12px;
  margin: 2vw;
}

.inc {
  font-size: 13px;
}


// Gears_index
/* primary color を設定する */
:root{
  --primary-color: #0d6efd;
  --dark: #21252f;
  --body: #888;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
}

.card-effect {
  box-shadow: var(--box-shadow);
  background-color: #fff;
  padding: 5px;
  transition: all 0.35s ease;
}

.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}


// Gears_show

.gear-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.gear-box-img-pre {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgba(224, 86, 113, 0.794);
  object-fit: contain;
}

/* カード情報の入力 */
.credit-card-form {
  border-bottom: 2px solid #f5f5f5;
  margin-top: 15px;
  padding-bottom: 30px;
}

.info-input-haedline {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.available-card {
  display: flex;
  height: 35px;
}

.card-logo {
  width: 40px;
  margin: 5px 5px;
}

.input-expiration-date-wrap {
  width: 100%;
  display: flex;
  text-align: center;
  line-height: 55px;
}

.input-expiration-date {
  width: 20%;
  margin-top: 5px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
  line-height: 45px;
  text-align: center;
}

/* /カード情報の入力 */